<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\login.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\signup.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\doctor-info.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\tagify.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\doctor.css" type="text/css">

    <link rel="stylesheet" href="..\assets\css\profile.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\admindashboard.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\allusers.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\adminVerifyHospital.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\admineditprofile.css" type="text/css">



    <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
</head>

<body>


    <%- include("partials/header.ejs")%>
        <main>
            <div class="container">
                <aside>
                    <div class="header_arrow">
                        <h3 class="profile_menu_header">Dashboard</h3>
                        <i class="fas fa-angle-down dashboard_down"></i>
                    </div>
                    <ul class="mobile_profile_menu hide">
                        <li>
                            <a href="/admindashboard">
                                <i class="fas fa-user-edit"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/allusers">
                                <i class="fas fa-th-list"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="/alldoctors">
                                <i class="fas fa-calendar-check"></i>
                                <span>Doctors</span>
                            </a>
                        </li>

                        <li>
                            <a href="/allhospitals">
                                <i class="far fa-file-alt"></i>
                                <span>Hospitals</span>
                            </a>
                        </li>
                        <li>
                            <a href="/settings">
                                <i class="fas fa-user-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="profile_menu">
                        <li>
                            <a href="/admindashboard">
                                <i class="fas fa-user-edit"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/allusers">
                                <i class="fas fa-th-list"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="/alldoctors">
                                <i class="fas fa-calendar-check"></i>
                                <span>Doctors</span>
                            </a>
                        </li>

                        <li>
                            <a href="/allhospitals">
                                <i class="far fa-file-alt"></i>
                                <span>Hospitals</span>
                            </a>

                        </li>
                        <li>
                            <a href="/settings">
                                <i class="fas fa-user-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </aside>

                <section class="form-container">
                    <h3>Verify / Edit Hospital </h3>
                    <div class="loginfrm-inp">
                        <div class="login-qstn">
                            <form action="/hospitalupdate?id=<%= hospital._id %>" method="post" enctype="multipart/form-data">
                                <label for="hospitalname">Hospital Name</label>
                                <input type="text" name="hospitalname" id="hospitalname" value="<%=hospital.name %>">
                                <label for="describe_doctor">Hospital Description</label>
                                <textarea name="describe" id="describe_doctor" cols="55" rows="4"
                                    placeholder="How would you describe yourself" ><%=hospital.description %></textarea>
                                <label for="doctor">Upload Hospital profile picture</label>
                                <input type="file" name="image" id="doctor_image">
                                <label for="hospital">Speciality</label>
                                <input type="text" name="speciality" id="hospital" value="<%=hospital.speciality %>">
                    
                                <label for="experience">No. of Beds</label>
                                <input type="number" name="beds" id="experience"value="<%=hospital.beds %>">
                                <label for="qualifications">Treatments</label>
                                <input type="text" name="treatment" id="qualifications" value="<%=hospital.treatments %>">
                                <label for="address">Address</label>
                                <input type="text" name="address" id="address" value="<%=hospital.address %>">
    
                                <div class="arrow">
                                    <button class="loginform-btn dark-button" type="submit">
                                        <h6>Submit</h6>
                                    </button>
                                    <i class="fas fa-arrow-right rarrow"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
        </main>
        <div class="footer-index txt-center">
            <div class="footer-line1">
                <div class="footer-img">
                    <a href="/index"><img class="footer-logo"
                            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
                            alt="tvastra logo"></a>
                </div>
                <div class="footer-list">
                    <ul>
                        <a href="/doctor">
                            <li>Doctor</li>
                        </a>
                        <a href="/hospital">
                            <li>Hospital</li>
                        </a>
                        <a href="/treatment">
                            <li>Treatment</li>
                        </a>
                        <a href="#">
                            <li>Other Services</li>
                        </a>
                        <a href="/faq">
                            <li>FAQs</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="footer-line2">
                <div class="footer-i">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="copyright">
                    <p>All Rights Reserved. tvastra 2018</p>
                </div>
            </div>
        </div>
        <script>
            const mobile_aside_header = document.querySelector('.profile_menu_header')
            const mobile_aside = document.querySelector('.mobile_profile_menu')
            


            mobile_aside_header.onclick = function () {
                if (mobile_aside.classList[1] == "hide") {
                    mobile_aside.classList.remove("hide")
                }
                else {
                    mobile_aside.classList.add("hide")

                }

            }

           
                
            
        </script>
</body>

</html>