<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
        <title>Tvastra</title>
    </head>
    <body>
      <%- include("partials/header.ejs")%>
       <form action="/indexSearch" method="post">
      <div class="find txt-center">
          <div class="find-flex">
          <div class="find-h1">
            <h1>Find Affordable Healthcare</h1>
          </div >
          <div class="find-p">
            <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford.</p>
          </div>
          <div class="inputs">
                <div class="inp-img">
                    <i class="fas fa-map-marker-alt map-marker"></i>
                    <i class="fas fa-crosshairs search-location"></i>
                    <input type="text" list="search1" name="city" class="city" placeholder="Ahmedabad">
                    <datalist id="search1">
                        <% for(let i=0; i < cities.length;i++){ %>
                            <option value="<%=cities[i]%>">Location</option> 
                         <%}%>
                    </datalist>
                </div>      
            <div class="inp2">
                
                <input type="text" list="search2" name="hospital" class="search" placeholder="Search for Doctor, hospitals and treatments"> 
            <datalist id="search2">
<% for(let i=0; i < hospitals.length;i++){ %>
   <option value="<%=hospitals[i]%>">Hospital</option> 
<%}%>
<% for(let i=0; i < treatments.length;i++){ %>
   <option value="<%=treatments[i]%>">Treatment</option> 
<%}%>
<% for(let i=0; i < names.length;i++){ %>
   <option value="<%=names[i]%>">Doctor</option> 
<%}%>
            </datalist>
                
            </div>
              <div><input type="submit" name="search-button" class="search-button dark-button" value="Search"></div>
            </div>
            
          </div>
        </div>
    </form>
   
      </div>
      <div class="how-it-works txt-center">
          <div>
            <h2>How it works</h2>
          </div>
          <div>
            <p>
                Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best.
            </p>
          </div> 
      </div>
      <div class='works-img-flex'>

      
      <div class="works-btn-container">
          <ul id="item1">
              <div class="item-txt ">
             <li class="works-btn item-active"><span class="spanning">01</span>   Fix Consultation</li>
            </div>
            <div class="item-img">
                <li class="mobile-works-img">
                   <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="img1">
                   <div class="works-img-txt">
                       <h4>Fix Consultation</h4>
                       <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                     </div>
                </li>
               </div>
            
            <div class="item-txt">
                <li class="works-btn"><span class="spanning">02</span>   Upload Medical Reports</li>
            </div>
            
                <div class="item-img">
                    <li class="mobile-works-img">
                       <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png" alt="img1">
                       <div class="works-img-txt">
                           <h4>Fix Consultation</h4>
                           <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                         </div>
                    </li>
                   </div>
            
            <div class="item-txt">
                <li class="works-btn"><span class="spanning">03</span>   Consult with doctor</li>
            </div>
            <div class="item-img">
                <li class="mobile-works-img">
                   <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg" alt="img1">
                   <div class="works-img-txt">
                       <h4>Fix Consultation</h4>
                       <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                     </div>
                </li>
               </div>
            <div class="item-txt">
                <li class="works-btn"><span class="spanning">04</span>   Fix Surgery</li>
            </div>
            <div class="item-img">
                <li class="mobile-works-img">
                   <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg" alt="img1">
                   <div class="works-img-txt">
                       <h4>Fix Consultation</h4>
                       <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                     </div>
                </li>
               </div>
            <div class="item-txt">
                <li class="works-btn"><span class="spanning">05</span>   Hospital sent estimates</li>
            </div>
            <div class="item-img">
                <li class="mobile-works-img">
                   <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg" alt="img1">
                   <div class="works-img-txt">
                       <h4>Fix Consultation</h4>
                       <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                     </div>
                </li>
               </div>
            <div class="item-txt">
                <li class="works-btn"><span class="spanning">06</span>   Payment</li>
            </div>
            <div class="item-img">
                <li class="mobile-works-img">
                   <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg" alt="img1">
                   <div class="works-img-txt">
                       <h4>Fix Consultation</h4>
                       <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                     </div>
                </li>
               </div>
            <div class="item-txt">
                <li class="works-btn"><span class="spanning">07</span>   Surgery complted</li>
            </div>
            <div class="item-img">
                <li class="mobile-works-img">
                   <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg" alt="img1">
                   <div class="works-img-txt">
                       <h4>Fix Consultation</h4>
                       <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                     </div>
                </li>
               </div>
            </ul>
        
           <script src="../views/js/how-it-works.js"></script>       
      </div>

      
      </div>
        <div class="doctors txt-center">

            <div class=".doc-container">
                <div class=".doctors-flex">
                    <div>
                        <h2>World Class Expert Doctors!</h2>
                    </div>
                    <div>
                        <p class="para">The university of Texas Southeastern Medical center has been a long world-renowned research hospital.
                            But untill the `80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy Hospital, UT Southeastern is also a mecca for patients.
                        </p> 
                    </div>
                    
                </div>
            </div>
            <div class="doc-slide_container">
            <div class="docslide fade">
            <div class="doc-img center">     
                <div class=img1>
                    <div class="george">                        
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doctor duke sans">
                </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Duke Sanson</span></h6>
                        <ul>
                            <li>Neuro Surgeon</li>
                            <li>Chain
                                department of Neurological surgery</li>
                            <li>Australia</li>
                        </ul>
                    </div>
                </div>
                    <div class="img1">
                        <div class="george georgiaimg">
                           <img class = "georgia"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="doctor georgia peter">
                        </div>
                        
                        <div class="info1">
                            <h6 class="fancy"><span>Georgia Peter</span></h6>
                            <ul>
                                <li>
                                    Breast Cancer Surgeon
                                </li>
                                <li>Director. UT. Southwest</li>
                                <li>London</li>
                            </ul>
                        </div>
                        

                    </div>
                
                <div class="img1">
                    <div class="george">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doctor charlie moon">
                </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Charlie Moon</span></h6>
                        
                        <ul>
                            <li>
                                Cardiac Surgeon
                            </li>
                            <li>MBBS, MD, FRCP, Mrcp, Fellowship</li>
                            <li>New Delhi, India</li>
                        </ul>
                    </div>
                </div> 
                <div class="img1 last">
                    <div class="george roseimg">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doctor rose moon">
                    </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Rose Moon</span></h6>
                        <ul>
                            <li>Plastic Surgeon</li>
                        <li>Department of plastic and Reconstructive surgery</li>
                        <li>Dubai</li>
                        </ul>
                    </div>
                    
                </div>
                </div>
                </div>
            <div class="docslide fade">
            <div class="doc-img center">  
                <div class="img1">
                    <div class="george georgiaimg">
                       <img class = "georgia"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="doctor georgia peter">
                    </div>
                    
                    <div class="info1">
                        <h6 class="fancy"><span>Georgia Peter</span></h6>
                        <ul>
                            <li>
                                Breast Cancer Surgeon
                            </li>
                            <li>Director. UT. Southwest</li>
                            <li>London</li>
                        </ul>
                    </div>
                    

                </div>   
                <div class=img1>
                    <div class="george">                        
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doctor duke sans">
                </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Duke Sanson</span></h6>
                        <ul>
                            <li>Neuro Surgeon</li>
                            <li>Chain
                                department of Neurological surgery</li>
                            <li>Australia</li>
                        </ul>
                    </div>
                </div>
                    
                
                <div class="img1">
                    <div class="george">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doctor charlie moon">
                </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Charlie Moon</span></h6>
                        
                        <ul>
                            <li>
                                Cardiac Surgeon
                            </li>
                            <li>MBBS, MD, FRCP, Mrcp, Fellowship</li>
                            <li>New Delhi, India</li>
                        </ul>
                    </div>
                </div> 
                <div class="img1 last">
                    <div class="george roseimg">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doctor rose moon">
                    </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Rose Moon</span></h6>
                        <ul>
                            <li>Plastic Surgeon</li>
                        <li>Department of plastic and Reconstructive surgery</li>
                        <li>Dubai</li>
                        </ul>
                    </div>
                    
                </div>
                </div>
                </div>

                <div class="docslide fade">
                    <div class="doc-img center">     
                        <div class=img1>
                            <div class="george">                        
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doctor duke sans">
                        </div>
                            <div class="info1">
                                <h6 class="fancy"><span>Duke Sanson</span></h6>
                                <ul>
                                    <li>Neuro Surgeon</li>
                                    <li>Chain
                                        department of Neurological surgery</li>
                                    <li>Australia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="img1">
                            <div class="george">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doctor charlie moon">
                        </div>
                            <div class="info1">
                                <h6 class="fancy"><span>Charlie Moon</span></h6>
                                
                                <ul>
                                    <li>
                                        Cardiac Surgeon
                                    </li>
                                    <li>MBBS, MD, FRCP, Mrcp, Fellowship</li>
                                    <li>New Delhi, India</li>
                                </ul>
                            </div>
                        </div> 
                            <div class="img1">
                                <div class="george georgiaimg">
                                   <img class = "georgia"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="doctor georgia peter">
                                </div>
                                
                                <div class="info1">
                                    <h6 class="fancy"><span>Georgia Peter</span></h6>
                                    <ul>
                                        <li>
                                            Breast Cancer Surgeon
                                        </li>
                                        <li>Director. UT. Southwest</li>
                                        <li>London</li>
                                    </ul>
                                </div>
                                
        
                            </div>
                        
                        
                        <div class="img1 last">
                            <div class="george roseimg">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doctor rose moon">
                            </div>
                            <div class="info1">
                                <h6 class="fancy"><span>Rose Moon</span></h6>
                                <ul>
                                    <li>Plastic Surgeon</li>
                                <li>Department of plastic and Reconstructive surgery</li>
                                <li>Dubai</li>
                                </ul>
                            </div>
                            
                        </div>
                        </div>
                        </div>
                        <div class="dots">
                            <span class="doc-dot" onclick="doc_currentSlide(1)"></span> 
                            <span class="doc-dot" onclick="doc_currentSlide(2)"></span> 
                            <span class="doc-dot" onclick="doc_currentSlide(3)"></span> 
                          </div>
            
            </div>
        </div>
        <script src="../views/js/doc-carousel.js"></script>
        <div class="treatment txt-center">
            <div class="treatment-flex">
                <div>
                    <h2>Featured Medical Treatment</h2>
                </div>            
            <div>
                <p class="treat-para">
                    Join the thousands of others who have
                    exercised their rights to quality
                    healthcare at a price you can aford
                </p>
            </div>
            
        </div>
        <div class="slideshow-container">

            <div class="mySlides fade">
        <div class="treat-img center">
            <div class="img1 treat-img1 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="doctor duke sanson">
                <div class="info2">
                    <ul>
                        <h6>Dentistry</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
                <div class="img1 treat-img2 img2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="doctor georgia peter">
                    <div class="info2">
                        
                        <ul>
                            <h6>Cancer</h6>
                            <li>50+ Specialists</li>
                        </ul> 
                    </div>
                </div>
            
            <div class="img1 treat-img3 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="doctor charlie moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Cardiologic Treatment</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div> 
            <div class="img1 treat-img4 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Multi Organ Transplant</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
            <div class="img1 treat-img5 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Orthopedics Surgery</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
            <div class="img1 treat-img6 img2 last">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Infertility Treatment</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>        
            </div>
            
        </div> 
        </div>
            <div class="mySlides fade">
        <div class="treat-img center">
            <div class="img1 treat-img1 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="doctor duke sanson">
                <div class="info2">
                    <ul>
                        <h6>Dentistry</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
            <div class="img1 treat-img2 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="doctor charlie moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Cardiologic Treatment</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div> 
                <div class="img1 treat-img3 img2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="doctor georgia peter">
                    <div class="info2">
                        
                        <ul>
                            <h6>Cancer</h6>
                            <li>50+ Specialists</li>
                        </ul> 
                    </div>
                </div>
            
            
            <div class="img1 treat-img4 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Orthopedics Surgery</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
            <div class="img1 treat-img5 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Multi Organ Transplant</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
            
            <div class="img1 treat-img6 img2 last">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Infertility Treatment</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>        
            </div>
            
        </div> 
        </div>

        <div class="mySlides fade">
            <div class="treat-img center">
                
                    <div class="img1 treat-img1 img2">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="doctor georgia peter">
                        <div class="info2">
                            
                            <ul>
                                <h6>Cancer</h6>
                                <li>50+ Specialists</li>
                            </ul> 
                        </div>
                    </div>
                    <div class="img1 treat-img2 img2">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="doctor duke sanson">
                        <div class="info2">
                            <ul>
                                <h6>Dentistry</h6>
                                <li>50+ Specialists</li>
                            </ul> 
                        </div>
                    </div>
                
                
                <div class="img1 treat-img3 img2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="doctor rose moon">
                    <div class="info2">
                        
                        <ul>
                            <h6>Multi Organ Transplant</h6>
                            <li>50+ Specialists</li>
                        </ul> 
                    </div>
                </div>
                <div class="img1 treat-img4 img2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="doctor rose moon">
                    <div class="info2">
                        
                        <ul>
                            <h6>Orthopedics Surgery</h6>
                            <li>50+ Specialists</li>
                        </ul> 
                    </div>
                </div>
                <div class="img1 treat-img5 img2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="doctor charlie moon">
                    <div class="info2">
                        
                        <ul>
                            <h6>Cardiologic Treatment</h6>
                            <li>50+ Specialists</li>
                        </ul> 
                    </div>
                </div> 
                <div class="img1 treat-img6 img2 last">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="doctor rose moon">
                    <div class="info2">
                        
                        <ul>
                            <h6>Infertility Treatment</h6>
                            <li>50+ Specialists</li>
                        </ul> 
                    </div>        
                </div>
                
            </div> 
            </div>
            <div class="treat-dots">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
              </div>
        </div> 
        
    </div>
<script src="../views/js/carousel.js"></script>
        <div  class="services">
            <div class="services-flex ">

            
            <div class="s-h2 center txt-center">
                <h2 class="services-h1">Exclusice Services</h2>
            </div>
            <div class="s-p center txt-center">
                <p class="services-para">We want you to be comfortable and thus apart from threating you illness, we provide
                    you with other services that you can see
                </p>
            </div>
        </div>
        <div class="pad">
            <div class="services-grid center txt-center">
                <div class="box travel">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="travel">
                <h6>TRAVEL</h6>
                </div >
                <div class="box food">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="FOOD">
                <h6>FOOD</h6>
                </div>
                <div class="box accomodation">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="ACCOMODATION">
                <h6>ACCOMODATION</h6>
                </div>
                <div class="box labs">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="labs">
                <h6>LABS</h6>
                </div>
                <div class="box reports">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="reports">
                <h6>REPORTS</h6>
                </div>
                <div class="box ambulance">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="ambulance">
                <h6>AMBULANCE</h6>
                </div>
            </div>
        </div>
        </div>
        <div class="enquiry-index  txt-center">
            <div class="help">
                <h2>Need Help?</h2>
                <p>Just let us know, we will happy to assist you</p>
            </div>
            <div class="enq-btn">
                <a href="submit-your-query"><button class="enquiry-btn">Submit Your Enquiry</button></a>
            </div>
            
        </div>
        <div class="footer-index txt-center">
                <div class="footer-line1">
                    <div class="footer-img">
                        <a href="/index"><img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo"></a>
                    </div>
                     <div class="footer-list">
                        <ul > 
                           <a href="/doctor"><li>Doctor</li></a> 
                            <a href="/hospital"><li>Hospital</li></a>
                           <a href="/treatment"> <li>Treatment</li></a>
                            <a href="#"><li>Other Services</li></a>
                            <a href="/faq"><li>FAQs</li></a>
                        </ul>
                    </div>
                </div>
            <div class="footer-line2">
                <div class="footer-i">
                    <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                </div>
                <div class="copyright">
                    <p>All Rights Reserved. tvastra 2018</p>
                </div>
            </div>
        </div>

    </body>
</html>