<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
    <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\login.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\phone-login.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">


    <link rel="stylesheet" href="..\assets\css\profile.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\settings.css" type="text/css">


    <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
</head>
<%if(user_data.role == "admin") {%>
    <div class="navbar">
        <nav>
              
            <a href="/index"><img class="tvastralogo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="tvastra logo"></a>
                  
            <div class="nav_right_content">
                <div class="desktop-btn ">
                    <% if(user_data){ %>
                        <ul class="desktop-btn mobile-ul">
    
                            <li class="treatment_menu name_head username" onclick="name_header_menu()">
                                <div class="mobile-btn"><a>
                                        <%=user_data.name.slice(0,8)%>
                                    </a>
                                    <i class="fas fa-angle-down"></i>
                                </div>
                                <div class="treatment_sub__menu name_menu left hide-menu">
                                    <div class="profile_image_container">
    
                                        <% if(user_data.role==="doctor" && doctor_info) { %>
                                            <a href="/profile">  <img id="pic" src="<%='../../assets/images/'+ doctor_info.image %>"></a>
                                            <% } else if(user_data.role==="user" && user_data.image){%>
                                                <a href="/profile">  <img class="profile_img"
                                                        src="<%='../../assets/images/'+ user_data.image %>"></a>
                                                <% } else {%>
                                                    <a href="/profile">     <img class="profile_img"
                                                            src="../../assets/images/default-picture.png"> </a>
                                                    <% } %>
                                                        <ul class="user_details">
                                                            <li>
                                                                <%=user_data.name.slice(0,8)%>
                                                            </li>
                                                            <li>
                                                                <%= user_data.phone %>
                                                            </li>
                                                        </ul>
    
                                    </div>
                                    <ul class="treatment_sub__menu_options">
    
                                        <a href="#">
                                            <li>My appointments</li>
                                        </a>
                                        <a href="#"></a>
                                        <li>My Lab Test</li></a>
                                        <a href="#">
                                            <li>My Medicine Orders</li>
                                        </a>
                                        <a href="#">
                                            <li>My Payments</li>
                                        </a>
                                        <a href="/logout">
                                            <li>logout</li>
                                        </a>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <% } %>
    
                </div>
            </div>
        </nav>
    
    </div>
    <div id="mySidebar" class="sidebar">
        <div class="sidebar-header">
                    
                <a href="/index"><img class="tvastralogo"
                        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                        alt="tvastra logo"></a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        </div>
        <ul class="mobile-ul">
            <li><a href="/doctor">Doctors</a></li>
            <li><a href="/hospital">Hospitals</a></li>
            <li class="treatment_menu">
                <a href="#">Treatment</a>
                <i class="fas fa-angle-down "></i>
                <div class="treatment_sub__menu dentistry">
                    <ul>
                        <a href="/treatment">
                            <li>Dentistry</li>
                        </a>
                        <a href="/treatment">
                            <li>Cancer</li>
                        </a>
                        <a href="/treatment">
                            <li>Cardiology</li>
                        </a>
                        <a href="/treatment">
                            <li>Multi Organ Transplant</li>
                        </a>
                        <a href="/treatment">
                            <li>Orthopedic Surgery</li>
                        </a>
                        <a href="/treatment">
                            <li>Infertility Treatment</li>
                        </a>
                    </ul>
                </div>
            </li>
            <!-- <li><a href="/aboutus">Other Services</a></li> -->
            <li><a href="/aboutus">About</a></li>
        </ul>
        <div class="desktop-btn">
                
                <a href="/index"><img class="tvastralogo"
                        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                        alt="tvastra logo"></a>
                        
        </div>
    </div>
    
    <nav class="index-desktop-nav" style="grid-template:1fr / 1fr 1fr">
        <div class="desk-img">
                
                <a href="/index"><img class="tvastralogo"
                        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                        alt="tvastra logo"></a>
                       
        </div>

    
        <div class="desktop-btn">
            <% if(user_data){ %>
                
                <ul>
                    <li class="treatment_menu username"><a>
                            <%=user_data.name.slice(0,8)%>
                        </a>
                        <i class="fas fa-angle-down"></i>
                        <div class="treatment_sub__menu left">
                            <div class="profile_image_container">
    
                                <% if(user_data.role==="doctor" && doctor_info) { %>
                                   <a href="/profile"> <img id="pic" src="<%='../../assets/images/'+ doctor_info.image %>"></a>
                                    <% } else if(user_data.role==="user" || user_data.role==="admin" && user_data.image){%>
                                        <a href="/profile"> <img class="profile_img"
                                                src="<%='../../assets/images/'+ user_data.image %>"></a>
                                        <% } else {%>
                                            <a href="/profile">   <img class="profile_img"
                                                    src="../../assets/images/default-picture.png"> </a>
                                            <% } %>
                                            <ul class="user_details">
                                                <li>
                                                    <%=user_data.name.slice(0,8)%>
                                                </li>
                                                <li>
                                                    <%= user_data.phone %>
                                                </li>
                                            </ul>
    
                            </div>
                            <ul class="treatment_sub__menu_options">
    
                                <a href="#">
                                    <li>My appointments</li>
                                </a>
                                <a href="#"></a>
                                <li>My Lab Test</li></a>
                                <a href="#">
                                    <li>My Medicine Orders</li>
                                </a>
                                <a href="#">
                                    <li>My Payments</li>
                                </a>
                                <a href="/logout">
                                    <li>logout</li>
                                </a>
                            </ul>
                        </div>
                    </li>
                </ul>
                <% } else { %>
                    <button class="quote-btn">Get a Quote</button>
                    <% } %>
        </div>
    </nav>
    
    
    <div class="flash-container">
        <% if(success && success.length>0) { %>
            <div id="flash-msg" class="flash-msg success-msg">
                <i class="fas fa-check-circle msg-icon"></i>
                <div class="msg-content success-content">
                    <h6>Success</h6>
                    <p>
                        <%= success %>
                    </p>
                </div>
                <i id="hide-flash" class="fa fa-times hide-msg-icon"></i>
            </div>
            <% } %>
                <% if(error && error.length>0) { %>
                    <div id="flash-msg" class="flash-msg failure-msg">
                        <i class="fa fa-times-circle msg-icon" aria-hidden="true"></i>
                        <div class="msg-content failure-content">
                            <h6>Failure</h6>
                            <p>
                                <%= error %>
                            </p>
                        </div>
                        <i id="hide-flash" class="fa fa-times hide-msg-icon"></i>
                    </div>
                    <% } %>
    </div>
    
    
    <script>
        function name_header_menu() {
            console.log('came')
        const name_menu = document.querySelector('.name_menu')

                if (name_menu.classList[3] == "hide-menu") {
                
                    name_menu.classList.remove("hide-menu")
                }
                else {
                    name_menu.classList.add("hide-menu")

                }

            }

        const error = document.querySelector('.flash-container');
        const cross = document.querySelector('.hide-msg-icon');
        const hideError = () => {
            error.style.display = 'none';
    
        }
    
        if (error) {
            setTimeout(() => {
                error.style.display = 'none';
            }, 5000);
        }
    
        cross.addEventListener('click', hideError);
    
        function openNav() {
            document.getElementById("mySidebar").style.width = "300px";
        }
    
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
        const name = document.querySelector(".mobile-btn");
        const profile = document.querySelector(".treatment_sub__menu")
        name.onclick = function () {
            if (profile.classList[2] == "hide") {
                profile.classList.remove("hide")
            }
            else {
                profile.classList.add("hide")
    
            }
    
        }
    </script>

<main>
    <div class="container">
        <aside>
            <div class="header_arrow">
                <h3 class="profile_menu_header">Dashboard</h3>
                <i class="fas fa-angle-down dashboard_down"></i>
            </div>
            <ul class="mobile_profile_menu hide">
                <li>
                    <a href="/admindashboard">
                        <i class="fas fa-user-edit"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/allusers">
                        <i class="fas fa-th-list"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="/alldoctors">
                        <i class="fas fa-calendar-check"></i>
                        <span>Doctors</span>
                    </a>
                </li>

                <li>
                    <a href="/allhospitals">
                        <i class="far fa-file-alt"></i>
                        <span>Hospitals</span>
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <i class="fas fa-user-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
            <ul class="profile_menu">
                <li>
                    <a href="/admindashboard">
                        <i class="fas fa-user-edit"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/allusers">
                        <i class="fas fa-th-list"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="/alldoctors">
                        <i class="fas fa-calendar-check"></i>
                        <span>Doctors</span>
                    </a>
                </li>

                <li>
                    <a href="/allhospitals">
                        <i class="far fa-file-alt"></i>
                        <span>Hospitals</span>
                    </a>

                </li>
                <li>
                    <a href="/settings">
                        <i class="fas fa-user-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </aside>
<%} else {%>
<%- include("partials/user_profile.ejs") %>
<%}%>

<section class="form-container">

        
        <form action="/postsettings" method="POST">
            <div class="settings-header">
                <legend>
                    <h3>
                        Accounts Settings
                    </h3>
                </legend>
                <button class="light-blue_button"type="submit">Change Password</button>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>Current Password</label>
                    <input required type="password" name="currentPassword"> 
                </div>
           
                <div class="input-group">
                    <label>New Password</label>
                    <input required type="password" name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>
                <div class="input-group">
                    <label>Confirm Password</label>
                    <input required type="password" name="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>
            </div>
        </form>
        
        
</section>
    </div>
    </main> 
    <script>
        const mob_aside_header = document.querySelector('.profile_menu_header')
            const mobile_aside = document.querySelector('.mobile_profile_menu')
            mob_aside_header.onclick = function () {
                if (mobile_aside.classList[1] == "hide") {
                    mobile_aside.classList.remove("hide")
                }
                else {
                    mobile_aside.classList.add("hide")

                }

            }
                 
    </script>  
</body>
</html>