<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Reports</title>
    <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\login.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\phone-login.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\tagify.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\otp-submit.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">


    <link rel="stylesheet" href="..\assets\css\profile.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\schedules.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\medicalreport.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\showReports.css" type="text/css">




    <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
</head>

<%- include("partials/user_profile.ejs") %>
    <section class="form-container">
        <form>

            <div class="form-header">
                <legend>
                    <h3>
                        Medical Records
                    </h3>
                </legend>
                <button id="myBtn" type="button" onclick="">Add Record</button>
            </div>

        </form>


        <div id="records-container">
            <% for(let i=0; i < record.myfile.length; i++) { %>

                <div class="records">
                    <div class="record-title">
                        <span>
                            <%=record.title%>
                        </span>
                        <i class="far fa-trash-alt"
                            onclick="window.location.href='/deletesinglerecord?id=<%=record._id%>&record_id=<%=record.myfile[i]._id  %>'"></i>
                    </div>
                    <figure>
                        <img src="../assets/images/<%=record.myfile[i].img%>" alt="record pic">
                    </figure>
                </div>
                <% } %>
        </div>




    </section>

    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="change_number_form">
                <div class="loginform-container">
                    <div class="loginform">
                        <div class="login-header">

                            <h4>Create Record</h4>
                        </div>
                        <div class="loginfrm-inp">
                            <form action="/addonlyrecordimg?id=<%=record._id%>%>" method="post"
                                enctype="multipart/form-data">

                                <div class="photos">
                                    <div class="selected-photos">
                                    </div>
                                    <div class="add-photo">
                                        <input type="file" name="reportPic" id="reportPic" accept="image/*" multiple
                                            required onchange="loadfile(event)"/>
                                        <label for="reportPic"><i class="fa fa-plus"></i><span>Add Photo</span></label>
                                    </div>
                                </div>


                                <div class="button_flex">
                                    <button type="button" class="light-blue_button closemodalbtn">Cancel</button>
                                    <button type="submit" id="createScheduleSubmitBtn"
                                        class="loginform-btn dark-button">
                                        Done
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </main>
    <div class="footer-index txt-center">
        <div class="footer-line1">
            <div class="footer-img">
                <a href="/index"><img class="footer-logo"
                        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
                        alt="tvastra logo"></a>
            </div>
            <div class="footer-list">
                <ul>
                    <a href="/doctor">
                        <li>Doctor</li>
                    </a>
                    <a href="/hospital">
                        <li>Hospital</li>
                    </a>
                    <a href="/treatment">
                        <li>Treatment</li>
                    </a>
                    <a href="#">
                        <li>Other Services</li>
                    </a>
                    <a href="/faq">
                        <li>FAQs</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footer-line2">
            <div class="footer-i">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="copyright">
                <p>All Rights Reserved. tvastra 2018</p>
            </div>
        </div>
    </div>
    <script>


        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");


        btn.onclick = function () {
            modal.style.display = "flex";
        }

        // When the user clicks on <span> (x), close the modal
        // span.onclick = function () {
        //     modal.style.display = "none";
        //     modal.style.transform = "scale(1)";
        // }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        var loadfile = function(event) {
    var imagesarr = document.getElementById('reportPic').files;
    var div=document.querySelector(".selected-photos");
    var str=""; 
    if(imagesarr.length > 3){
        alert("Maximum 3 files are allowed");
        str="";
         div.innerHTML=str;
    }else if(imagesarr.length){
    for(var i=0;i<imagesarr.length;i++){
        str+='<img src="'+URL.createObjectURL(event.target.files[i])+'">';
    }

   div.innerHTML=str;
        }
};
var span = document.getElementsByClassName("closemodalbtn")[0];




       span.addEventListener("click", e=>{
            var imagesarr = document.getElementById('reportPic').files;
    var div=document.querySelector(".selected-photos");
    var str="";
   div.innerHTML=str;
   modal.style.display = "none";
            modal.style.transform = "scale(1)";
        })
    </script>
    </body>

</html>