<div class="navbar">
    <nav>
        <% if(user_data) {%>
            <a href="/index"><img class="tvastralogo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="tvastra logo"></a>
            <% } else { %>
                <a href="/"> <img class="tvastralogo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="tvastra logo"></a>
                <% } %>
                    <div class="nav_right_content">
                        <div class="desktop-btn ">
                            <% if(user_data){ %>
                                <ul class="desktop-btn mobile-ul">

                                    <li class="treatment_menu username">
                                        <div class="mobile-btn mobile-treat"><a>
                                                <%=user_data.name.slice(0,8)%>
                                            </a>
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                        <div class="treatment_sub__menu mobile-treat-menu left hide">
                                            <div class="profile_image_container">

                                                <% if(user_data.role=="doctor" && doctor_info) { %>
                                                    <a href="/profile"> <img id="pic"
                                                            src="<%='../../assets/images/'+ doctor_info.image %>"></a>
                                                    <% } else if(user_data.role=="user" && user_data.image){%>
                                                        <a href="/profile"> <img class="profile_img"
                                                                src="<%='../../assets/images/'+ user_data.image %>"></a>
                                                        <% } else if(user_data.role==="admin" && user_data.image){%>
                                                            <a href="/profile">  <img id="pic_img" class="profile_img"
                                                                src="<%='../../assets/images/'+ user_data.image %>"></a>
                                                            <% } else {%>
                                                                
                                                                <a href="/profile"> <img id="pic_img"
                                                                        class="profile_img"
                                                                        src="../../assets/images/default-picture.png"></a>

                                                                <% } %>
                                                                    <ul class="user_details">
                                                                        <li>
                                                                            <%=user_data.name.slice(0,8)%>
                                                                        </li>
                                                                        <li>
                                                                            <%= user_data.phone %>
                                                                        </li>
                                                                    </ul>

                                            </div>
                                            <ul class="treatment_sub__menu_options">

                                                <a href="#">
                                                    <li>My appointments</li>
                                                </a>
                                                <a href="#"></a>
                                                <li>My Lab Test</li></a>
                                                <a href="#">
                                                    <li>My Medicine Orders</li>
                                                </a>
                                                <a href="#">
                                                    <li>My Payments</li>
                                                </a>
                                                <a href="/logout">
                                                    <li>logout</li>
                                                </a>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <% } %>

                        </div>
                        <% if(user_data){%>
                            <% if(user_data.role != "admin" ) { %>
                        <i class="fas fa-bars fa-2x bar openbtn" onclick="openNav()"></i>
                        <%}} else if(!user_data){%>
                        <i class="fas fa-bars fa-2x bar openbtn" onclick="openNav()"></i>
<%}%>
                    </div>
    </nav>

</div>
<div id="mySidebar" class="sidebar">
    <div class="sidebar-header">

        <% if(user_data) {%>
            <a href="/index"><img class="tvastralogo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="tvastra logo"></a>
                  
            <% } else { %>
                <a href="/"> <img class="tvastralogo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="tvastra logo"></a>
                <% } %>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <ul class="mobile-ul">
        <li><a href="/doctor">Doctors</a></li>
        <li><a href="/hospital">Hospitals</a></li>
        <li class="treatment_menu">
            <a href="#">Treatment</a>
            <i class="fas fa-angle-down "></i>
            <div class="treatment_sub__menu dentistry">
                <ul>
                    <a href="/treatment">
                        <li>Dentistry</li>
                    </a>
                    <a href="/treatment">
                        <li>Cancer</li>
                    </a>
                    <a href="/treatment">
                        <li>Cardiology</li>
                    </a>
                    <a href="/treatment">
                        <li>Multi Organ Transplant</li>
                    </a>
                    <a href="/treatment">
                        <li>Orthopedic Surgery</li>
                    </a>
                    <a href="/treatment">
                        <li>Infertility Treatment</li>
                    </a>
                </ul>
            </div>
        </li>
        <!-- <li><a href="/aboutus">Other Services</a></li> -->
        <li><a href="/aboutus">About</a></li>
    </ul>
    <div class="desktop-btn">

        <% if(user_data) {%>
            <a href="/tvastra-plus"> <button class="light-blue_button">Tvastra Plus</button></a>
            <button class="quote-btn">Get a Quote</button>
            <% } else { %>
                <button class="quote-btn">Get a Quote</button>

                <% } %>

    </div>
</div>

<nav class="index-desktop-nav">
    <div class="desk-img">

        <% if(user_data) {%>
              <a href="/index"><img class="tvastralogo"
                      src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                      alt="tvastra logo"></a>
                             
            <% } else { %>
                <a href="/"> <img class="tvastralogo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                    alt="tvastra logo"></a>
                <% } %>

    </div>
    <div class="desk-i">
        <ul class="desk-ul">
            <li><a href="/doctor">Doctors</a></li>
            <li><a href="/hospital">Hospitals</a></li>
            <li class="treatment_menu">
                <a href="#">Treatment</a>
                <i class="fas fa-angle-down"></i>
                <div class="treatment_sub__menu dentistry">
                    <ul>
                        <a href="/treatment">
                            <li>Dentistry</li>
                        </a>
                        <a href="/treatment"></a>
                        <li>Cancer</li></a>
                        <a href="/treatment">
                            <li>Cardiology</li>
                        </a>
                        <a href="/treatment">
                            <li>Multi Organ Transplant</li>
                        </a>
                        <a href="/treatment">
                            <li>Orthopedic Surgery</li>
                        </a>
                        <a href="/treatment">
                            <li>Infertility Treatment</li>
                        </a>
                    </ul>
                </div>
            </li>
            <!-- <li><a href="/aboutus">Other Services</a></li> -->
            <li><a href="/aboutus">About</a></li>
        </ul>

    </div>

    <div class="desktop-btn">
        <% if(user_data){ %>

            <a href="/tvastra-plus"> <button class="light-blue_button">Tvastra Plus</button></a>
            <button class="quote-btn">Get a Quote</button>

            <ul>
                <li class="treatment_menu username"><a>
                        <%=user_data.name.slice(0,8)%>
                    </a>
                    <i class="fas fa-angle-down"></i>
                    <div class="treatment_sub__menu left">
                        <div class="profile_image_container">

                            <% if(user_data.role=="doctor" && doctor_info) { %>
                                <a href="/profile"> <img id="pic"
                                        src="<%='../../assets/images/'+ doctor_info.image %>"></a>
                                <% } else if(user_data.role=="user" && user_data.image){%>
                                    <a href="/profile"> <img class="profile_img"
                                            src="<%='../../assets/images/'+ user_data.image %>"></a>
                                    <% } else if(user_data.role==="admin" && user_data.image){%>
                                        <a href="/profile">  <img id="pic_img" class="profile_img"
                                            src="<%='../../assets/images/'+ user_data.image %>"></a>
                                        <% } else {%>
                                            
                                            <a href="/profile"> <img id="pic_img"
                                                    class="profile_img"
                                                    src="../../assets/images/default-picture.png"></a>

                                            <% } %>
                                            <ul class="user_details">
                                                <li>
                                                    <%=user_data.name.slice(0,8)%>
                                                </li>
                                                <li>
                                                    <%= user_data.phone %>
                                                </li>
                                            </ul>

                        </div>
                        <ul class="treatment_sub__menu_options">

                            <a href="#">
                                <li>My appointments</li>
                            </a>
                            <a href="#"></a>
                            <li>My Lab Test</li></a>
                            <a href="#">
                                <li>My Medicine Orders</li>
                            </a>
                            <a href="#">
                                <li>My Payments</li>
                            </a>
                            <a href="/logout">
                                <li>logout</li>
                            </a>
                        </ul>
                    </div>
                </li>
            </ul>
            <% } else { %>
                <button class="quote-btn">Get a Quote</button>
                <% } %>
    </div>
</nav>


<div class="flash-container">
    <% if(success && success.length>0) { %>
        <div id="flash-msg" class="flash-msg success-msg">
            <i class="fas fa-check-circle msg-icon"></i>
            <div class="msg-content success-content">
                <h6>Success</h6>
                <p>
                    <%= success %>
                </p>
            </div>
            <i id="hide-flash" class="fa fa-times hide-msg-icon"></i>
        </div>
        <% } %>
            <% if(error && error.length>0) { %>
                <div id="flash-msg" class="flash-msg failure-msg">
                    <i class="fa fa-times-circle msg-icon" aria-hidden="true"></i>
                    <div class="msg-content failure-content">
                        <h6>Failure</h6>
                        <p>
                            <%= error %>
                        </p>
                    </div>
                    <i id="hide-flash" class="fa fa-times hide-msg-icon"></i>
                </div>
                <% } %>
</div>


<script>
    const error = document.querySelector('.flash-container');
    const cross = document.querySelector('.hide-msg-icon');
    const hideError = () => {
        error.style.display = 'none';

    }

    if (error) {
        setTimeout(() => {
            error.style.display = 'none';
        }, 5000);
    }

    cross.addEventListener('click', hideError);

    function openNav() {
        document.getElementById("mySidebar").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }
    const name = document.querySelector(".mobile-btn");
    const profile = document.querySelector(".treatment_sub__menu")
    name.onclick = function () {
        if (profile.classList[2] == "hide") {
            profile.classList.remove("hide")
        }
        else {
            profile.classList.add("hide")

        }

    }

    const mobile_header = document.querySelector('.mobile-treat')
        const mobile_menu = document.querySelector('.mobile-treat-menu')
        
            mobile_header.onclick = function () {
                if (mobile_menu.classList[3] == "hide-menu") {
                    mobile_menu.classList.remove("hide-menu")
                }
                else {
                    mobile_menu.classList.add("hide-menu")

                }

            }
</script>